<main class="overflow-hidden">
  <%= render "shared/profile_image" %>
  <span class="user-name d-flex justify-content-center profile-name mt-3"><%= current_user.username %></span>
  <%= render "filter_navbar", reviews: @reviews, cuisines: @cuisines, tags: @tags %>
  <%= render "reviews/review_cards", reviews: @reviews, pagy: @pagy %>
</main>