<main class="overflow-hidden">
<div class="d-flex justify-content-center profile-img-wraper m-auto mt-5">
  <%= image_tag("template/avatar1.png", class: 'avatar  rounded-circle') %>
</div>
<span class="user-name d-flex justify-content-center profile-name mt-3"><%= current_user.first_name.titleize %></span>
<%= render "filter_navbar", reviews: @reviews, cuisines: @cuisines, tags: @tags %>
<%= render "reviews/review_cards", reviews: @reviews, pagy: @pagy %>
</main>