<div>
  <span data-reviews-map-target="reviewDetails" id="<%= review.id %>" data-latitude="<%= review.latitude %>" data-longitude="<%= review.longitude %>"> </span>
  <div id="reviewMap"> </div>
</div>
