<div class="d-none">
  <span data-reviews-map-target="reviewDetails" id="<%= review.id %>" data-name="<%= review.name %>" data-latitude="<%= review.latitude %>" data-longitude="<%= review.longitude %>"></span>
</div>
