<!--<script>-->
<!--    window.location = "auth://xerocallback?id_token=<%#= @token_set['id_token'] %>&access_token=<%#= @token_set['access_token']%>&expires_in=<%#= @token_set['expires_in'] %>&token_type=<%#= @token_set['token_type'] %>&refresh_token=<%#= @token_set['refresh_token'] %>&scope=<%#= @token_set['scope'] %>"-->
<!--</script>-->

<p> Hello </p>