<h2>Photos</h2>
<div class="tabs_content_wrap">
  <div class="file_upload_place">
    <div class="content">
      <div class="upload_link d-none">
        <a href="#">Upload files</a>
        <span> or drag and drop</span></p>
      </div>
    </div>
  </div>
</div>