<h2>Photos</h2>
<div class="tabs_content_wrap" data-controller="photos">

  <div class="uploaded-files d-none" id="js-uploaded-files">

    <div class="mb-3 main-thumbnail">
      <img id="mainThumbnail" data-photos-target="mainThumbnail" src="https://cdn.filestackcontent.com/5gHkNOKTru4JPI3Ey1VP">
    </div>

    <div class="d-flex" id="js-thumbnails" >
      <%= f.filestack_field :images, '+', class:'thumbnail upload-button px-0', id: 'unique-iddd', input_id: 'unique-input-idsd', pickerOptions: { onFileUploadFinished: 'callbackOnFileUploadFinished' } %>
    </div>
  </div>

  <div class="file_upload_place" id="file_upload_place">
    <div class="content">
      <div class="upload_link">
        <%= f.filestack_field :images, 'Upload files', id: 'unique-iddd', input_id: 'unique-input-idsd', pickerOptions: { onFileUploadFinished: 'callbackOnFileUploadFinished' } %>
        <div>PNG, JGP (max 10MB)</div>
      </div>
    </div>
  </div>
</div>

<script>
  function callbackOnFileUploadFinished(data) {
    const image = document.createElement('img');
    image.classList.add('thumbnail', 'px-0')
    image.setAttribute(
      'src',
      data.url
    );
    image.addEventListener("click", () => {
      updateImage(image)
    })
    document.getElementById('js-thumbnails').prepend(image)
    updateImage(image)

    document.getElementById('js-uploaded-files').classList.remove('d-none')
    document.getElementById('file_upload_place').classList.add('d-none')


  }

  function updateImage(that) {
    document.getElementById('mainThumbnail').src = that.src
  }
</script>