<h2>Photos</h2>
<div class="tabs_content_wrap">
  <div class="file_upload_place">
    <div class="content">
      <p class="upload_link"><a href="#">Upload files</a><span> or drag and drop</span></p>
      <p class="file_pormet">PNG, JPG (max 10MB)</p>
    </div>
  </div>
</div>