<h2>Review</h2>
<div class="tabs_content_wrap">
  <form action="">
    <div class="row align-items-center form_group">
      <div class="col-lg-5">
        <label for="">Restaurant Name</label>
      </div>
      <div class="col-lg-7">
        <input type="text" placeholder="Enter restaurant name">
      </div>
    </div>
    <div class="row align-items-center form_group">
      <div class="col-lg-5">
        <label for="">Cuisine</label>
      </div>
      <div class="col-lg-7">
        <input type="text" placeholder="Enter cusine">
      </div>
    </div>
    <div class="form_group">
      <label for="">Score</label>
    </div>
    <div class="row align-items-center form_group">
      <div class="col-lg-5">
        <label for="">Price range</label>
      </div>
      <div class="col-lg-7">
        <div class="d-flex align-items-center price_range">
          <div>
            <span>$</span>
            <span>$</span>
            <span>$</span>
            <span>$</span>
          </div>
          <p>Select price range</p>
        </div>
      </div>
    </div>
    <div class="row form_group">
      <div class="col-lg-5">
        <label for="">Notes</label>
      </div>
      <div class="col-lg-7">
        <textarea name="" id="" cols="30" rows="5" placeholder="Write your notes..."></textarea>
      </div>
    </div>
  </form>
</div>