<h2>Tags</h2>
<div class="tabs_content_wrap">
  <form class="tags_search_form">
    <input type="text" placeholder="Search Tags...">
    <button><%= image_tag("template/search.png") %></button>
  </form>
</div>