.group-card {
  overflow: hidden;
  position: relative;

  &:hover .group-pen-icon {
    display: flex;
  }

  .group-image {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    border: 1px solid lightgray;
  }

  .group-link {
    display: inline-block;

    span.text {
      display: block;
      margin-top: -5px;
      font-size: 16px;
      font-weight: 400;
      color: gray;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.group-half-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.grp-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  padding: 1.2rem 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
}

.edit-grp-btn {
  background-color: #6E3EF7;
  border: 1px solid #6E3EF7;
  color: #FFFFFF;

  &:hover {
    color: #6E3EF7;
    background-color: #FFFFFF;
  }

  &:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(78%) saturate(5181%) hue-rotate(250deg) brightness(98%) contrast(98%);
  }
}

.share-grp-btn {
  background-color: #FFFFFF;
  color: #6E3EF7;
  border: 1px solid #6E3EF7;

  &:hover {
    background-color: #6E3EF7;
    color: #FFFFFF;
  }

  &:hover img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(28%) saturate(0%) hue-rotate(140deg) brightness(105%) contrast(105%);
  }
}

.group-quarter-thumbnail {
  width: 100%;
  height: 124px;
}

.three-image-thumbnail {
  .col-8 {
    img {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
    }
  }

  .col-4 {
    .top {
      img {
        border-top-right-radius: 6px;
      }
    }

    .bottom {
      img {
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.group-pen-icon {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 10, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  bottom: 25%;
  right: 20px;
  opacity: 0.9;

  &:hover {
    display: block;
    cursor: pointer;
  }
}

.small-card-review {
  height: 160px;
  cursor: pointer;
}

.small-card-body {
  padding: 5px;
}

.small-review-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .small-name {
    width: 8rem;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.small-rating {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.small-review-card {
  width: 4rem;
  font-size: 10px;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: 0px;
}

.small-review-state {
  font-size: 10px;
}

.small-review-cuisine {
  font-size: 10px;
  height: 1.8rem;
  line-height: 1.8rem;
  padding: 0px 5px;
  text-align: center;
}

.review-card-select {
  border: 2px solid blue;
}

.input-height {
  height: 3.5rem;
}

.modal-cancel {
  font-size: 1.4rem;
  color: gray !important;
  background: #FFFFFF;
  border-color: gray !important;
  padding: 1rem 2.4rem;

  &:hover {
    color: #FFFFFF !important;
    background: gray !important;
  }
}
