.img_gallery {
  .large {
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .large-half {
    //aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 49.7%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .large-slice {
    height: 49.1%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .third-half {
    //aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 33.1%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .third-half-slice {
    height: 49.1%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .fourth-half {
    width: 49.5%;
  }
}

.mobile-gallery-wrapper .owl-item {
  aspect-ratio: 2 / 3;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}