.dropdown-info {
    margin: 0px 80px 0px 10px;
}

.user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.user-email {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #848496;
}

.dropdown-img {
    padding: 11px !important;
}

.profile-img-wraper {
    /*width: 150px;*/
    /*height: 142px;*/
    max-width: 150px;
    max-height: 142px;
}

.profile-name {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #21212D;
}

.edit-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    max-width: 672px;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.btn-profile-pic{
    align-items: center;
    padding: 0px;
    width: 209px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E2DBF4;
    border-radius: 6px;
}

.ml-14 {
    margin-left: 14px;
}

.ml-24 {
    margin-left: 24px;
}


/*.edit-profile-icon{*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/