/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 2000px) {
    html {
        font-size: 80%;
    }

    .container {
        max-width: 2000px;
    }

    .container.custom {
        max-width: 1800px;
    }

    .map_enabled .addNew {
        left: 25%;
    }
}

@media (min-width: 1800px) and (max-width: 1999px) {
    html {
        font-size: 74%;
    }

    .container {
        max-width: 1800px;
    }

    .container.custom {
        max-width: 1600px;
    }

    .map_enabled .addNew {
        left: 25%;
    }
}

@media (min-width: 1600px) and (max-width: 1799px) {
    html {
        font-size: 68%;
    }

    .container {
        max-width: 1600px;
    }

    .container.custom {
        max-width: 1400px;
    }

    .map_enabled .addNew {
        left: 26.5%;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    .container {
        max-width: 1400px;
    }

    .container.custom {
        max-width: 1200px;
    }

    .map_enabled .addNew {
        left: 27%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    html {
        font-size: 55%;
    }

    .container {
        max-width: 1200px;
    }

    .container.custom {
        max-width: 1024px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 46%;
    }

    .container {
        max-width: 992px;
    }

    .container.custom {
        max-width: 950px;
    }

    .nice-select {
        padding-left: 1.5rem;
    }

    .layout_changer {
        margin: 0 1.4rem;
    }
}

@media (min-width: 1600px) {
    .search-input {
        padding: 1rem 3rem 1rem 0.5rem;
    }
}

@media (min-width: 1400px) {
    .search-input-expand {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .filter-bar .large-add-new-btn {
        display: flex;
    }

    .filter-bar .small-add-new-btn {
        display: none;
    }

    .search-input {
        padding: 1rem 4rem 1rem 0.5rem;
    }

}

/*===========================================*/

@media (max-width: 1999px) {
    .review-card {
        height: 355px;
    }
}

@media (max-width: 1799px) {
    .review-card {
        height: 325px;
    }

    .add_review_area .title {
        padding-bottom: 0;
    }

    .filter-bar span.select2 .selection .select2-selection__rendered {
        margin-top: 7px;
    }

    .filter-bar span.select2 .selection .select2-selection--single .select2-selection__arrow b {
        margin-top: 6px;
    }
}

@media (max-width: 1599px) {
    .review-card {
        height: 290px;
    }
    
    .search-icon {
        right: 12px;
    }

    .filter-bar span.select2 .selection .select2-selection__rendered {
        margin-top: 7px;
    }

    .filter-bar span.select2 .selection .select2-selection--single .select2-selection__arrow b {
        margin-top: 6px;
    }

    .cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
        margin-top: 5px;
    }

    .cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 7px !important;
    }
}

@media (max-width: 1399px) {
    .review-card {
        height: 255px;
    }

    .search-icon {
        right: 9px;
    }

    .filter-bar span.select2 .selection .select2-selection__rendered {
        margin-top: 5px;
    }

    .filter-bar span.select2 .selection .select2-selection--single .select2-selection__arrow b {
        margin-top: 2px;
    }

    .cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
        margin-top: 2px;
    }

    .cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 4px !important;
    }
}

@media (max-width: 1199px) {
    .review-card {
        height: 220px;
    }

    .search-icon {
        right: 5px;
    }

    .filter-bar span.select2 .selection .select2-selection__rendered {
        margin-top: 0px;
    }

    .filter-bar span.select2 .selection .select2-selection--single .select2-selection__arrow b {
        margin-top: 0px;
    }

    .cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
        margin-top: -2px;
    }

    .cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 2px !important;
    }
}

@media (max-width: 991px) {
    .content_area {
        max-height: 100%;
    }

    .content_wrap {
        min-height: 100%;
    }

    .user .arrow {
        display: none;
    }

    .user .avatar {
        width: 4rem;
        height: 4rem;
    }

    .user .dropdown-menu {
        transform: translate(0) !important;
        inset: 4.5rem 0 auto auto !important;
    }

    .search {
        width: 68%;
        flex-shrink: 0;
    }

    .filter {
        width: calc(32% - 1.6rem);
        justify-content: center;
        flex-shrink: 0;
        margin-left: 0;
    }

    .middle_nav {
        height: 100%;
    }

    .middle_nav .nav {
        width: 100%;
        display: flex;
        margin-top: 1.6rem;
    }

    .middle_nav .nav li {
        width: 25%;
    }

    .middle_nav .nav li a {
        justify-content: center;
        width: 100%;
    }

    .layout_changer {
        display: none !important;
    }

    .map_enable_btn {
        display: none;
    }

    .middle_nav .nice-select {
        width: 100%;
        margin-top: 1.6rem;
        text-align: center !important;
    }

    .middle_nav .nice-select::after {
        right: calc(50% - 4.5rem);
    }

    .nice-select .list li {
        text-align: center !important;
    }

    .hero_area {
        padding-top: 0;
    }

    .hero_header .btn {
        width: 50%;
    }

    .hero_header {
        padding-top: 2.4rem;
    }

    .add_review_area label {
        padding-bottom: 1rem;
    }

    .add_review_area {
        padding-top: 10rem;
    }

    .add_review_area_header {
        top: 3.8rem;
    }

    .review-card {
        height: 300px;
    }

    .search-icon {
        right: 15px;
    }

    .filter-bar span.select2 .selection .select2-selection__rendered {
        margin-top: 5px;
    }

    .filter-bar span.select2 .selection .select2-selection--single .select2-selection__arrow b {
        margin-top: 3px;
    }

    .cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
        margin-top: 5px;
    }

    .cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 6px !important;
    }
}

@media (max-width: 767px) {
    .tags_list li {
        width: 50%;
    }

    .tags_list li:nth-child(3) {
        padding-top: 1.5rem;
    }

    .card_carousel .owl-dot {
        width: 15%;
    }

    .save-changes {
        font-size: 14px;
        padding: 10px 20px;
    }

    .tags_list li {
        width: 50%;
    }

    .tags_list li:nth-child(3) {
        padding-top: 1.5rem;
    }

    .card_carousel .owl-dot {
        width: 15%;
    }

    .review-card {
        height: 405px;
    }

    .add_review_area input {
        height: 5rem;
        font-size: 16px;
    }

    .cuisine-group .select2-selection, .category-group .select2-selection {
        height: 5rem;
    }

    .cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
        margin-top: 9px;
        font-size: 1.6rem;
    }

    .cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 12px !important;
    }

    .add_review_area textarea::placeholder,
    .add_review_area input::placeholder {
        font-size: 1.6rem;
    }
}

@media (max-width: 575px) {
    html {
        font-size: 55%;
    }

    h1 {
        font-size: 3.2rem;
    }

    .favourite {
        width: 4.5rem;
        height: 4.5rem;
    }

    .favourite img {
        width: 24px;
        /*width: 2.8rem;*/
    }

    .tab_link {
        font-size: 1.4rem;
    }

    .add_review_area .cancel,
    .add_review_area .add_review {
        font-size: 1.2rem;
        padding: .9rem 1.5rem;
    }

    .add_review_area .add_review {
        margin-left: 1.5rem;
    }

    .file-upload-place {
        height: 25rem;
    }

    .add_review_area_header {
        top: 4.5rem;
    }

    .add_review_area {
        padding-top: 7rem;
    }

    .review-card {
        height: 420px;
    }

    .back {
        top: 1rem;
        left: .8rem;
    }

    .add_review_area .nav-pills .nav-item {
        margin-right: 1.7rem;
    }

    .add_review_area .nav-pills .nav-item a {
        font-size: 1.1rem;
    }

    .filter-bar .new-filter-button {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    .search-input {
        padding: 8px 20px 8px 20px;
    }

    .search-icon {
        right: 9px;
    }

    .cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
        margin-top: 6px;
    }

    .cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px !important;
    }
}

@media (max-width: 520px) {

    .review-card {
        height: 380px;
    }

    .hero_area .card_carousel .owl-dots .owl-dot {
        width: 14.5%;
    }
}

@media (max-width: 470px) {
    .price-sz {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }

    .bg-price {
        background: #848496;
    }


    .review-card {
        height: 350px;
    }
}

@media (max-width: 420px) {

    .review-card {
        height: 325px;
    }

    .hero_area .card_carousel .owl-dots .owl-dot {
        width: 14%;
    }

    .card_carousel .owl-dot {
        width: 14.6%;
    }
}

@media (max-width: 370px) {
    .review-card {
        height: 295px;
    }
}
