.dropdown-filter-wrapper {
  .select2-container {
    width: unset !important;

    .select2-selection {
      height: 4rem;
      padding-left: 8px;
      display: flex;
      align-items: center;

      .select2-selection__arrow {
        position: unset;

        b {
          margin-left: 35%;
        }
      }
    }

    .select2-selection {
      border-color: #EDEDFB;
    }
  }
}

.note-text {
  font-size: 1.1rem;
  margin-top: 12px;
  margin-left: auto;
  font-weight: 400;

  span {
    font-weight: 600;
  }
}

.nav-rounded-first {
  a {
    border-width: 1px 1px 1px 1px;
    border-radius: 6px 0 0 6px;
  }
}

.nav-rounded-last {
  a {
    border-width: 1px 1px 1px 1px;
    border-radius: 0 6px 6px 0;
  }
}

.load-more {
  margin-left: 25%;
}