.map-enable-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: #21212D;
  font-size: 1.4rem;
  padding: 0 1.6rem;
  border: 1px solid #EDEDFB;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);

  .text {
    padding: 0 .8rem;
  }

  .switch {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 1.6rem;
    background: #CCCCE1;
    border-radius: 4rem;

    &::before {
      content: '';
      position: absolute;
      left: .2rem;
      top: .2rem;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: #FFFFFF;
    }
  }
}

.map-enable-btn.enabled {
  .switch {
    background: #6E3EF7;

    &::before {
      left: auto;
      right: .2rem;
    }
  }
}

.grid-review-card {
  position: relative;
  overflow-y: scroll;
  height: 70vh;

  &::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 5px;
    background: #888;

    &:hover {
      background: #555;
    }
  }

  .add-new-half {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    background: #6E3EF7;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 1rem 3rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    z-index: 1111;
  }
}

.review-map {
  position: sticky;
  height: 630px;
  top: 0;
  left: 50%;

  #reviewMap {
    height: 630px;
    border-radius: 7px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
}