/*====================== Google fonts ========================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*====================== Basic css ========================*/

html {
    font-size: 62.5%;
}

:root {
    scroll-behavior: unset;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.flash-msg {
    z-index: 2000;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.filter-h {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.filter-close {
    color: #636373;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
}

.filter-close:hover {
    color: #6E3EF7;
    font-weight: 600;
    font-size: 25px;
}

.filter-btn {
    cursor: pointer;
    width: 110px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-cancel {
    background: #FFFFFF;
    color: #848496;
    border: 1px solid #CCCCE1;

}

.filter-cancel:hover {
    color: #6E3EF7;
    border: 1px solid #6E3EF7;
}

.filter-apply {
    background: #6E3EF7;
    color: #FFFFFF;
    border: unset;
}

.cuisine-font {
    font-family: 'Inter';
    font-style: normal;
}

.cuisine-clear {
    color: #636373;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.cuisine-clear:hover {
    color: #6E3EF7;
}

.cuisine-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.cuisine-badge {
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.cuisine-badge:hover {
    border-color: #6E3EF7;
    color: #6E3EF7;
}

.cuisine-select {
    border: 1px solid #6E3EF7;
    color: #6E3EF7;
}

.cuisine-unselect {
    border: 1px solid #EDEDFB;
    color: #424250;
}

.cuisine-card-h {
    max-height: 256px;
}

.tag-card-h {
    max-height: 152px;
    padding: 5px 16px 0px 16px
}

.h-unset {
    height: unset;
}

.w-unset {
    width: unset;
}

div[class~='list-style-unset'] ul {
    list-style: unset !important;
}

a {
    text-decoration: none;
    transition: .2s;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    transition: .2s;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
}

/* body */
body {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #21212D;
    background: #FBFBFE;
    border-radius: 2rem;
    position: relative;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #FFFFFF;
    padding: 1.6rem 3.2rem;
    background: #6E3EF7;
    border-radius: 6px;
    border: 1px solid transparent;
}

.btn:hover {
    background: #FFFFFF;
    color: #6E3EF7;
    border-color: #6E3EF7;
}

.btn img {
    margin-right: .95rem;
}

.btn:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(78%) saturate(5181%) hue-rotate(250deg) brightness(98%) contrast(98%);
}

.btn.white {
    background: #FFFFFF;
    color: #6E3EF7;
    border-color: #6E3EF7;
}

.btn.white:hover {
    color: #FFFFFF;
    background: #6E3EF7;
}

.btn.white:hover img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(28%) saturate(0%) hue-rotate(140deg) brightness(105%) contrast(105%);
}

.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}

.btn.delete {
    font-size: 1.4rem;
    color: #F44336;
    background: #FFFFFF;
    border-color: #F44336;
    padding: 1rem 2.4rem;
}

.btn.delete:hover {
    color: #FFFFFF;
    background: #F44336;
}

/* heading  */

h1 {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 1.33;
    color: #00000A;
}

h3 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.77;
    color: #00000A;
}


/*====================== Header area start ========================*/

header {
    top: 0;
    left: 0;
    height: 8rem;
    z-index: 1024;
    width: 100%;
    border-bottom: 1px solid #EDEDFB;
    background: #FFFFFF;
    transition: .3s;
}

.menu li {
    display: inline-block;
    margin-right: .8rem;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li .nav_link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #636373;
    font-weight: 500;
    line-height: 1;
    padding: 1.2rem 1.6rem;
    background: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 999px;
}

.menu li .nav_link.active,
.menu li .nav_link:hover {
    border-color: #E2DBF4;
    color: #6E3EF7;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04));
}

.menu li .nav_link img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .6rem;
}

.menu li .nav_link.active img,
.menu li .nav_link:hover img {
    filter: invert(28%) sepia(74%) saturate(5570%) hue-rotate(250deg) brightness(99%) contrast(95%);
}

.menu li .bars:hover img {
    filter: invert(28%) sepia(74%) saturate(5570%) hue-rotate(250deg) brightness(99%) contrast(95%);
}

.menuItemDropdown .toggler {
    width: 15.7rem;
    padding: 1.2rem 1.6rem;
    display: inline-flex;
    align-items: center;
    color: #6E3EF7;
    font-size: 1.4rem;
    font-weight: 500;
    background: #FFFFFF;
    border: 1px solid #E2DBF4;
    border-radius: 999px;
    line-height: 1;
}

.menuItemDropdown .toggler span {
    margin: 0 .6rem;
}

.menuItemDropdown .dropdown-menu {
    width: 15.7rem;
}

.user .name {
    color: #424250;
    margin-right: .8rem;
}

.user .name span {
    font-weight: 600;
    color: #00000A;
}

.user .avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.user .arrow {
    margin-left: .8rem;
}

.user .dropdown-menu {
    inset: .5rem 0 auto auto !important;
}

/* dropdown-menu */
.dropdown-menu {
    padding: 0;
    border-radius: .5rem;
    background: #FFFFFF;
    border: 1px solid #E2DBF4;
}

.dropdown-menu li {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown-menu li a {
    height: 4rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #636373;
    font-weight: 500;
    padding: 0 2rem;
}

.dropdown-menu li a:hover {
    background: #FBFBFE;
    color: #6E3EF7;
}

.dropdown-menu li a .icon {
    width: 1.8rem;
    margin-right: .7rem;
    text-align: center;
}

.dropdown-menu li a:hover .icon img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(100%) saturate(5905%) hue-rotate(250deg) brightness(99%) contrast(96%);
}


/* ============ middle nav ============ */

.middle_nav {
    height: 9.7rem;
    background: #FBFBFE;
    padding: 2.8rem 0;
    transition: 200ms;
}

.middle_nav.sticky {
    padding: 1.2rem 0;
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #EDEDFB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    z-index: 1001;
}

.search {
    flex-shrink: 0;
    width: 24rem;
    height: 4rem;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}

.search input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    padding: 1rem 1.2rem 1rem 4rem;
    box-sizing: border-box;
}

.search input:focus {
    border-color: #6E3EF7;
}

.search button {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
}

.filter {
    height: 4rem;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    color: #21212D;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    margin-left: 1rem;
}

.filter:hover {
    border-color: #6E3EF7;
    color: #6E3EF7;
}

.filter img {
    margin-right: 1rem;
}

.middle_nav .nav {
    font-size: 0;
    display: inline-block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.middle_nav .nav li {
    display: inline-block;
}

.middle_nav .nav li a {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    color: #636373;
    height: 4rem;
    padding: 0 2.2rem;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #EDEDFB;
    background: #FFFFFF;
}


.middle_nav .nav li:first-child a {
    border-width: 1px 1px 1px 1px;
    border-radius: 6px 0 0 6px;
}

.middle_nav .nav li:last-child a {
    border-width: 1px 1px 1px 1px;
    border-radius: 0 6px 6px 0;
}

.middle_nav .nav li a:hover,
.middle_nav .nav li a.active:hover {
    background: #6E3EF7;
    color: #FFFFFF;
    border-color: #6E3EF7;
}

.middle_nav .nav li a.active {
    border-width: 1px 1px 1px 1px;
    border-color: #6E3EF7;
    background: #F7F5FC;
}

.pagy li a {
    font-size: 14px;
    color: #6E3EF7;
}

.pagy li a:hover {
    color: #fff;
    background-color: #6E3EF7;
    border: 1px solid #6E3EF7 !important;
}

.pagy li.active a {
    background-color: #6E3EF7 !important;
    border: 1px solid #6E3EF7 !important;
}

.pagy nav ul li.prev a {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.pagy nav ul li.next a {
    border-top-right-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
}

/* card designing */

.card {
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    overflow: hidden;
}

.card_carousel {
    position: relative;
}

.card_carousel .owl-dots {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
    background: linear-gradient(180deg, rgba(0, 0, 10, 0) 0%, rgba(0, 0, 10, 0.4) 100%);
}

.card_carousel .owl-dot {
    flex-shrink: 0;
    width: 13.8%;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 999px;
    margin: 0 .4rem;
}

.card .card-header .item img {
    object-fit: cover;
    aspect-ratio: 16/9;
}

.card_carousel .owl-dot.active {
    background: #FFFFFF;
}

.image-placeholder {
    background: white;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.favourite {
    position: absolute;
    top: .8rem;
    right: .8rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 10, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 11;
}

.favourite img {
    flex-shrink: 0;
    width: 2.3rem;
}

.favourite.checked {
    background: #FFFFFF;
}

.favourite.checked img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(6978%) hue-rotate(251deg) brightness(101%) contrast(94%);
}

.card-body {
    padding: 1.6rem;
}

.review_btn {
    display: inline-block;
    width: 7rem;
    height: 2.4rem;
    line-height: 2.2rem;
    background: #F7F5FC;
    border: 1px solid #6E3EF7;
    color: #6E3EF7;
    border-radius: 4px;
    text-align: center;
    margin-right: 4px;
    cursor: default;
    font-size: 1.4rem;
}

.wishlist-btn {
    background: #6E3EF7;
    color: #FFFFFF;
    display: inline-block;
    width: 7rem;
    height: 2.4rem;
    line-height: 2.2rem;
    border: 1px solid #6E3EF7;
    border-radius: 4px;
    text-align: center;
    margin-right: 4px;
    cursor: default;
    font-size: 1.4rem;
}

.add_btn {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: #F7F5FC;
    border: 1px solid #6E3EF7;
    border-radius: 4px;
    text-align: center;
    line-height: 2rem;
}

.add_btn img {
    max-width: 1.56rem;
    margin: auto;
}

.add_btn:hover {
    background: #6E3EF7;
}

.add_btn:hover img {
    filter: invert(100%) sepia(0%) saturate(1901%) hue-rotate(86deg) brightness(105%) contrast(101%);
}

.card-body .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_rating {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #1A0F00;
    font-size: 1.8rem;
    line-height: 1;
}

.product_rating img {
    flex-shrink: 0;
    width: 1.3rem;
    margin-right: .5rem;
}

.card h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #00000A;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.177;
    padding: 1rem 0 0.2rem;
}

.card .list_group {
    display: flex;
    align-items: center;
}

.card .list_group li {
    display: inline-flex;
    align-items: center;
    color: #424250;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.428;
    position: relative;
    padding-right: 1.1rem;
    white-space: nowrap;
}

.card .list_group li span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    border: 1px solid #CCCCE1;
    color: #CCCCE1;
    margin-right: 2px;
}

.card .list_group li span:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #CCCCE1;
}

.card .list_group li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -7.5px;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #424250;
}

.card .list_group li:first-child::before {
    display: none;
}

.toTry {
    display: inline-block;
    width: 6.8rem;
    height: 2.4rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.4rem;
    color: #F7F5FC;
    font-weight: 500;
    background: #6E3EF7;
    border-radius: 4px;
    border: 1px solid #6E3EF7;
    margin-right: .8rem;
}

.toTry:hover {
    color: #6E3EF7;
    background: #FFFFFF;
}

.card .user img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.card .user span {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    color: #848496;
    margin-left: 4px;
}

.card .user span strong {
    display: inline-block;
    font-weight: 400;
    color: #000000;
    margin-right: 4px;
}

.lock {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: #FBFBFE;
    border: 1px solid #CCCCE1;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.2;
}

.lock:hover {
    /* background: #6E3EF7; */
    border-color: rgb(232, 232, 232);
}

.lock img {
    max-width: 1.3rem;
    margin: auto
}

/* .lock:hover img {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(32deg) brightness(109%) contrast(101%);
} */

.addNew {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #6E3EF7;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 1rem 3rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    z-index: 1111;
}

.addNew:hover {
    background: #FFFFFF;
    color: #6E3EF7;
    border-color: #6E3EF7;
}

.addNew:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(6978%) hue-rotate(251deg) brightness(101%) contrast(94%);
}

.addNew img {
    margin-right: .8rem;
}

.nice-select {
    display: inline-block;
    width: 12.8rem;
    height: 4rem;
    line-height: 4rem;
    z-index: 111;
    color: #21212D;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}

.nice-select:focus {
    border-color: #6E3EF7;
    color: #6E3EF7;
}

.nice-select:focus::after {
    border-color: #6E3EF7;
}

.nice-select::after {
    width: .8rem;
    height: .8rem;
    border-color: #636373;
}

.nice-select .list {
    width: 100%;
    display: block;
}

.nice-select .list .option {
    width: 100%;
    display: block;
    color: #21212D !important;
}

.nice-select .option.selected {
    color: #6E3EF7 !important;
}

.layout_changer {
    margin: 0 2.4rem;
    font-size: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.layout_changer li {
    display: inline-block;
}

.layout_changer li a {
    display: inline-flex;
    align-items: center;
    color: #636373;
    height: 4rem;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #EDEDFB;
    background: #FFFFFF;
    padding: 0 1.2rem !important;
}

.layout_changer li:first-child a {
    border-radius: 6px 0 0 6px;
}

.layout_changer li:last-child a {
    border-radius: 0 6px 6px 0;
}

.layout_changer li a.active {
    border-width: 1px 1px 1px 1px;
    border-color: #6E3EF7;
    background: #F7F5FC;
}

.layout_changer li a.active img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(64%) saturate(7220%) hue-rotate(252deg) brightness(101%) contrast(94%);
}

.layout_changer li a img {
    width: 1.6rem;
}

.map_enable_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    color: #21212D;
    font-size: 1.4rem;
    padding: 0 1.6rem;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
}

.map_enable_btn .text {
    padding: 0 .8rem;
}

.map_enable_btn .switch {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 1.6rem;
    background: #CCCCE1;
    border-radius: 4rem;
}

.map_enable_btn.enabled .switch {
    background: #6E3EF7;
}

.map_enable_btn .switch::before {
    content: '';
    position: absolute;
    left: .2rem;
    top: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #FFFFFF;
}

.map_enable_btn.enabled .switch::before {
    left: auto;
    right: .2rem;
}

.map_enabled .addNew {
    left: 28%;
}


/* ============== List card CSS ========== */
.list_card {
    margin-top: 3.2rem;
}

.list_card:first-child {
    margin-top: 0;
}

.list_card .favourite {
    width: 4rem;
    height: 4rem;
}

.list_card .favourite img {
    width: 2rem;
}

.list_card .card_carousel .owl-dot {
    width: 12%;
}

.review_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.review_list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 70%;
    padding: 0 2.5rem;
    border-left: 1px solid #EDEDFB;
}

.review_list li .left {
    font-size: 1.8rem;
    font-weight: 500;
    color: #1A0F00;
    line-height: 1.77;
}

.review_list li .center {
    font-size: 1.8rem;
    font-weight: 500;
    color: #A5A5B9;
    line-height: 1.77;
    margin: 0 .8rem;
}

.review_list li .end {
    font-size: 1.2rem;
    font-weight: 400;
    color: #21212D;
    line-height: 1.33;
}

.list_card .product_rating {
    padding-right: 3.2rem;
}

.list_card_content_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_card .vr_mark {
    display: inline-block;
    width: 1px;
    height: 6.4rem;
    background: #EDEDFB;
    margin-right: 1.6rem;
}

.list_card .vr_mark:last-child {
    margin-right: 2.4rem;
}

.content_wrap {
    min-height: 100%;
}

.google_map {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-bottom: 2.8rem;
}


/* sm list card */
.list_card.sm_list_card .product_rating {
    padding-right: 1.6rem;
}

.sm_list_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sm_review_list {
    display: inline-block;
    font-size: 0;
    margin-top: .8rem;
}

.sm_review_list li {
    display: inline-flex;
    align-items: center;
    padding: .8rem;
    background: #FBFBFE;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    color: #1A0F00;
    font-size: 1.6rem;
    line-height: 1;
    margin-right: .8rem;
}

.sm_review_list li img {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 4px;
}

.sm_review_list li .right {
    font-size: 1.2rem;
    color: #A5A5B9;
    margin-left: .4rem;
}


/* =============== Details page CSS Start =============== */

.back {
    position: absolute;
    top: 3.2rem;
    left: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: #FFFFFF;
    border: 1px solid #6E3EF7;
    border-radius: 6px;
    z-index: 900;
}

.public_review {
    display: flex;
    align-items: center;
}

.public_review img {
    margin-left: .84rem;
}

.public_review span {
    text-transform: uppercase;
    color: #21212D;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
}

/* mode-switch */
.mode-switch #switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mode-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 3rem;
    height: 1.6rem;
    background: #CCCCE1;
    display: block;
    border-radius: 4rem;
    position: relative;
}

.mode-switch label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s;
    transform: translateY(-50%);
}

.mode-switch #switch:checked + label {
    background: #6E3EF7;
}

.mode-switch #switch:checked + label:after {
    left: calc(100% - .2rem);
    transform: translateX(-100%) translateY(-50%);
}

.hero_header h1 {
    padding: .8rem 0;
}

.hero_header .list_group {
    display: flex;
    align-items: center;
}

.hero_header .review-show-detail {
    color: #424250;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.428
}

.hero_header .list_group li {
    display: flex;
    align-items: center;
    color: #424250;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    padding-right: 12px;
}

.show-price {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #CCCCE1;
    font-size: 11px;
    color: #CCCCE1;
    transition: .2s;
    margin-right: -2px;
}

.show-price:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #CCCCE1;
}

.hero_header .list_group li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -7.5px;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #424250;
}

.hero_header .list_group li:first-child::before {
    display: none;
}

/*.avatar img {*/
/*    width: 4rem;*/
/*    height: 4rem;*/
/*    margin-left: .8rem;*/
/*    border-radius: 50%;*/
/*}*/

.avatar .reviewer {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    color: #636373;
}

.avatar .name {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #21212D;
}

.rating_box {
    padding: 1.2rem 0;
}

.rating_box a {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    color: #5F33DD;
    margin-right: 2.2rem;
}

.rating_box a img {
    margin-right: .8rem;
}

.rating_box .rating {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.33;
    color: #1A0F00;
}

.rating_box .rating img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .8rem;
}

.hero_header .btn {
    padding: 1rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 1.6rem;
}

.hero_area .card_carousel .owl-dots {
    display: flex;
    justify-content: space-between;
}

.hero_area .card_carousel .owl-dots .owl-dot {
    width: 15%;
}

.hero_area .back {
    position: absolute;
    left: 1.6rem;
    top: 1.6rem;
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 10, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 11;
}

.hero_area .upload {
    position: absolute;
    right: 7.2rem;
    top: 1.6rem;
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 10, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 11;
}

.hero_area .favourite {
    top: 1.6rem;
    right: 1.6rem;
}

/* img gallery */

.img_gallery .large img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.img_gallery .large-half img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.img_gallery .large-slice img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
}

.img_gallery .small {
    text-align: center;
    max-height: 250px;
}

.img_gallery .small img {
    height: 244px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img_gallery .search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.6rem;
    height: 8.6rem;
    border-radius: 50%;
    background: rgba(0, 0, 10, 0.3);
    backdrop-filter: blur(2px);
}

.img_gallery .search img {
    max-width: 2.5rem;
    height: 2.5rem;
}

.img_gallery .delect {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 10, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 6px;
}

.img_gallery .delect img {
    width: 1.65rem;
}

.img_gallery .seeAll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 4rem;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04));
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.img_gallery .seeAll img {
    width: 2rem;
    margin-right: .8rem;
}

#map {
    height: 300px;
    width: 100%;
}

/* review detail area  */
.review_details_wrap {
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 3.2rem;
}

.review-notes {
    font-size: 16px;
    font-weight: 400;
    color: #21212D;
}

.review-highlight h3 {
    font-size: 16px;
    font-weight: 500;
    color: #00000A;
}

.favorite_dishes_list li {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 2.4rem 0;
    border-bottom: 1px solid #EDEDFB;
}

.favorite_dishes_list li:first-child {
    padding-top: 0;
}

.favorite_dishes_list li .main_img {
    flex-shrink: 0;
    width: 6.4rem;
    border-radius: 6px;
}

.favorite_dishes_list li h4 {
    font-weight: 600;
    font-size: 16px;
    color: #636373;
}

.favorite_dishes_list li p {
    font-weight: 400;
    font-size: 16px;
    color: #636373;
}

.tags_list {
    display: flex;
    flex-wrap: wrap;
}

.tags_list li {
    border: 1px solid #6E3EF7;
    color: #6E3EF7;
    padding: 5px 14px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 7px;
    background-color: #F7F5FC;
}

.addNewMeal {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    color: #6E3EF7;
    padding: 6px 16px;
    background: #FFFFFF;
    border: 1px solid #E2DBF4;
    border-radius: 6px;
    margin-top: 2.4rem;
}

.addNewMeal .icon {
    margin-right: 1rem;
}

/* review area */
.review_wrap {
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 2.4rem;
}

.review_wrap li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 0;
    border-top: 1px solid #EDEDFB;
}

.review_wrap li:first-child {
    padding-top: 0;
    border-top: none;
}

.review_wrap li:last-child {
    padding-bottom: 0;
}

.review_wrap .left_point {
    color: #1A0F00;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.77;
}

.review_wrap .right_point {
    color: #A5A5B9;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.77;
}

.review_wrap .totel_review {
    font-size: 1.2rem;
    line-height: 1.33;
    color: #21212D;
}

/* review area */
.map_wrap {
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 3.2rem;
}

.map_wrap .map_img {
    width: 100%;
}

.map_wrap h4 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #00000A;
}

.map_wrap p {
    color: #424250;
}

.map_wrap .pen {
    position: absolute;
    top: 15px;
    right: 0;
}

.map_wrap .btn {
    width: 100%;
    padding: 1.1rem;
}

.map-button {
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid #6E3EF7;
    padding: 0.8rem 3rem;
    border-radius: 6px;
}

.map-button span {
    font-weight: 500;
    font-size: 16px;
    color: #6E3EF7;
}

.review-author {
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 3.2rem;
}

/* ============= Add restaurant review CSS start ============= */

hitting-enter-submit
.category_area {
    padding-top: 15rem;
    margin-top: -10rem;
}

.review_area {
    padding-top: 15rem;
    margin-top: -10.5rem;
}

.add_review_area {
    padding-bottom: 10rem;
}

.add_review_area_header {
    background: white;
    position: sticky;
    top: 3rem;
    width: 100%;
    z-index: 800;
}

.add_review_area .title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
    color: #00000A;
}

.add_review_area .nav-pills {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #EDEDFB;
    position: sticky;
    left: 0;
    top: 7.8rem;
    width: 100%;
    background: white;
    z-index: 1024;
}

.add_review_area .nav-pills .nav-item {
    margin: 0;
    padding: 0;
    margin-right: 4rem;
}

.add_review_area .nav-pills .nav-item:last-child {
    margin-right: 0;
}

.add_review_area .nav-pills .nav-link {
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: 500;
    color: #636373;
}

.add_review_area .nav-pills .nav-link:hover,
.add_review_area .nav-pills .nav-link.active {
    color: #6E3EF7;
    background: transparent;
}

.add_review_area .nav-pills .nav-link::before {
    content: '';
    position: absolute;
    bottom: -1.8rem;
    left: 0;
    width: 100%;
    height: .4rem;
    background: #6E3EF7;
    border-radius: 6px 6px 0px 0px;
    opacity: 0;
    transition: .2s;
}

.add_review_area .nav-pills .nav-link.active::before {
    opacity: 1;
}

.add_review_area h2 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #00000A;
    padding-bottom: .8rem;
}

.category_content_wrap {
    padding: 3rem 4rem;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.category_content_wrap select {
    height: 4rem;
    padding: 1rem 1.2rem 1rem 1.2rem;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    color: #A5A5B9;
    font-size: 1.4rem;
}

.category_content_wrap select:focus {
    border-color: #6E3EF7
}

.tabs_content_wrap {
    padding: 3.2rem;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

/* review tabs */

.add_review_area .form_group {
    padding-bottom: 3.2rem;
}

.add_review_area .form_group:last-child {
    padding-bottom: 0;
}

.add_review_area label {
    font-size: 1.45rem;
    font-weight: 600;
    color: #11072C;
    margin-bottom: 5px;
    padding: 0;
}

.score-text {
    width: unset;
    font-weight: 600;
    font-size: 1.3rem;
}

.add_review_area input {
    height: 4rem;
    padding: 1rem 1.2rem 1rem 1.8rem;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    color: #00000A;
    font-size: 14px;
}

.add_review_area textarea {
    width: 100%;
    padding: 1.6rem;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
}


.add_review_area textarea::placeholder,
.add_review_area input::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 1.4rem;
    color: #A5A5B9;
}

.add_review_area input:focus,
.add_review_area textarea:focus {
    border-color: #6E3EF7;
}

.price_range span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 1.2;
    text-align: center;
    color: #CCCCE1;
    border: 1.5px solid #CCCCE1;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 50%;
    margin-right: .35rem;
}

.price-range-text {
    margin-left: 10px;
    margin-top: -7px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #bebeca;
}

.price_range p {
    font-size: 1.4rem;
    color: #A5A5B9;
    margin-left: .8rem;
}


/* photo tabs */
.file-upload-place {
    position: relative;
    height: 20rem;
    background: #FBFBFE;
    border: 1.5px dashed #A5A5B9;
    border-radius: 6px;
}

.file-upload-place .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.file-upload-place .content .upload-link {
    font-size: 1.4rem;
    color: #00000A;
    line-height: 1.42;
    padding-bottom: 1.2rem;
}

.file-upload-place .content .upload-link a {
    color: #6E3EF7;
}

.file_pormet {
    font-size: 1.2rem;
    color: #424250;
}


/* localization area start */
.localization_area ul {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    font-size: 0;
    margin-bottom: 1.6rem;
}

.localization_area ul li {
    width: 50%;
}

.localization_area ul li a {
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #636373;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #EDEDFB;
}

.localization_area ul li a:hover,
.localization_area ul li a.active:hover {
    background: #6E3EF7;
    border-color: #6E3EF7;
    color: #fff;
}

.localization_area ul li a.active {
    background: #F7F5FC;
    border-width: 1px 1px 1px 1px;
    border-color: #6E3EF7;
}

.localization_area ul li a:active {
    background: #fff;
}

.localization_area ul li:first-child a {
    border-radius: 6px 0px 0px 6px;
}

.localization_area ul li:last-child a {
    border-radius: 0px 6px 6px 0px;
}

.location_search_form {
    width: 28rem;
    height: 4rem;
    position: absolute;
    top: 1.4rem;
    left: 1.6rem;
}

.location_search_form input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    padding: 1rem 1.2rem 1rem 4.4rem;
}

.location_search_form input:focus {
    border-color: #6E3EF7;
}

.location_search_form input::placeholder {
    opacity: 1;
    font-size: 1.4rem;
    color: #848496;
}

.location_search_form button {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

#enterManually .form_wrap {
    padding: 3.2rem;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.enterManually_form select {
    width: 100%;
    height: 4rem;
    box-shadow: none;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    padding: 1rem 1.2rem 1rem 1.8rem;
    color: #00000A;
    font-size: 1.4rem;
}

.enterManually_form select:focus {
    border-color: #6E3EF7;
}

/* tags tabs */

.tags_search_form {
    width: 100%;
    height: 4rem;
    position: relative;
}

.tags_search_form input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    padding: 1rem 1.2rem 1rem 4.4rem;
}

.tags_search_form input:focus {
    border-color: #6E3EF7;
}

.location_search_form input::placeholder {
    opacity: 1;
    font-size: 1.4rem;
    color: #848496;
}

.tags_search_form button {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

/* favourite dishes tab */

.favourite_dishes_tab_wrap h2 {
    padding-bottom: .8rem;
}

.favourite_dishes_tab_wrap p {
    font-size: 1.4rem;
    color: #636373;
    padding-bottom: 1.6rem;
}

.favourite_dishes_tab_wrap .btn {
    padding: .6rem 1.6rem;
    font-size: 1.4rem;
    line-height: 1.42;
}

.favourite_dishes_tab_wrap .btn .icon {
    margin-right: 1rem;
}

.add_review_area .cancel {
    font-size: 1.4rem;
    color: #A5A5B9;
    background: #FFFFFF;
    border-color: #CCCCE1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    padding: 1rem 2.4rem;
}

.add_review_area .add-review-btn {
    background-color: #6E3EF7;
    font-size: 1.4rem;
    border-color: #6E3EF7;
    color: #FFFFFF;
    padding: 1rem 2.4rem;
    font-weight: 500;
}

.add_review_area .add-review-btn:hover {
    background-color: #FFFFFF;
    color: #6E3EF7;
}


/*========== Page loader CSS ==========*/

#preloader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
    text-align: left;
}

.loader3 span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #6E3EF7;
    -webkit-animation: loader3 1.5s linear infinite;
    animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

/*categories style*/

.manage-categories {
    width: 672px;
    border: 1px solid #EDEDFB;
    margin: 20px auto auto auto;
    padding: 30px;
    border-radius: 5px;
}

.manage-categories h3 {
    font-size: 20px;
    color: #00000A;
}

.manage-categories .active, .manage-categories .inactive {
    margin: 40px 0px;
}

.manage-categories .active h4, .manage-categories .inactive h4 {
    font-size: 15px;
    color: #636373;
}

li.category-list-item {
    border: 1px solid #EDEDFB;
    border-radius: 7px;
    margin: 10px 0px;
    padding: 15px;
}

.category-name {
    font-size: 16px;
    color: #21212D;
}

/* mode-switch */
.mode-switch .switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mode-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 3rem;
    height: 1.6rem;
    background: #CCCCE1;
    display: block;
    border-radius: 4rem;
    position: relative;
}

.mode-switch label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s;
    transform: translateY(-50%);
}

.mode-switch .switch:checked + label {
    background: #6E3EF7;
}

.mode-switch .switch:checked + label:after {
    left: calc(100% - .2rem);
    transform: translateX(-100%) translateY(-50%);
}

.save-changes {
    border: 1px solid #6E3EF7;
    padding: 10px 30px;
    background-color: #6E3EF7;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 6px;
}

.save-changes:hover {
    background-color: #FFFFFF;
    color: #6E3EF7;
    border: 1px solid #6E3EF7;
}

.request-catagory {
    font-size: 14px;
    color: #424250;
}

.request-btn {
    border: 1px solid #EDEDFB;
    padding: 10px 30px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    color: #6E3EF7;
    border-radius: 8px;
}

/*request modal*/

#request-modal .modal-header {
    padding: 20px 20px;
}

#request-modal .modal-header .header-title {
    margin-bottom: 20px;
}

#request-modal .modal-header .header-title h2 {
    font-size: 24px;
    color: #00000A;
    font-weight: 500;
}

#request-modal .modal-header .header-para {
    font-size: 16px;
    color: #424250;
}

#request-modal .modal-footer {
    padding: 15px 20px;
}

#request-modal .modal-body {
    background-color: #FBFBFE;
}

#request-modal .modal-footer .cancel {
    border: 1px solid #EDEDFB;
    background-color: #FFFFFF;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #848496;
    border-radius: 8px;
}

.request label {
    font-size: 14px;
    margin-bottom: 5px;
}

.request input {
    padding: 10px;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
}

.request input::-webkit-input-placeholder, .request textarea::-webkit-input-placeholder {
    font-size: 13px;
    color: #A5A5B9;
}

/*new homepage*/

.filter-bar .middle-nav {
    background: #FFFFFF;
    padding: 30px 0px;
    border-bottom: 1px solid #EDEDFB;
}

.filter-bar .large-add-new-btn .add-new-btn {
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid #6E3EF7;
    background-color: #6E3EF7;
    color: white;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 0rem;
}

.filter-bar large-add-new-btn .add-new-btn:hover {
    background: #FFFFFF;
    color: #6E3EF7;
    border-color: #6E3EF7;
}

large-add-new-btn .add-new-btn:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(6978%) hue-rotate(251deg) brightness(101%) contrast(94%);
}

.cuisine-tag {
    font-size: 14px;
    border: 1px solid #6E3EF7;
    margin-right: 5px;
    border-radius: 5px;
    padding: 2px 7px;
    color: #6E3EF7;
    background: #F7F5FC;
}

h3.review-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
}

.state-name {
    font-size: 15px;
    color: #383838;
    font-weight: 400;
}

.filter-bar .category-dropdown select {
    width: 100%;
    cursor: pointer;
    border: 1px solid #6E3EF7;
    border-radius: 6px;
    background: #FFFFFF;
    color: #6E3EF7;
    padding: 1.2rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 4px;
    border: 1px solid #6E3EF7 !important;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 5px;
    border: 1px solid #E2DBF4 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #EDEDFB;
    color: #6E3EF7;
}

.filter-bar .new-filter-button {
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    color: #21212D;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    background: #FFFFFF;
    justify-content: center;
}

.navbar-search {
    position: relative;
}

.search-input {
    padding: 10px 25px 10px 25px;
    width: 0px;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
}

.navbar-search input::placeholder {
    opacity: 1;
    font-size: 1.4rem;
    color: #848496;
}

.search-input-expand {
    width: 200px;
    border: 1px solid #6E3EF7;
    transition: 0.25s ease-out;
}

.navbar-search input:focus {
    border-color: #6E3EF7;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}

.filter-bar .large-add-new-btn {
    display: none;
}

.filter-bar .small-add-new-btn {
    display: block;
}

.filter-bar .modal .modal-header {
    height: 72px;
    padding: 20px 24px;
}

.filter-bar .modal .modal-body {
    background: #FBFBFE;
}

.filter-bar .modal .modal-footer button {
    margin-left: unset;
}

.small-btn {
    padding: 2px;
}

.filter-bar span.select2 {
    display: block;
    width: 100% !important;
    height: 4.2rem;
}

.filter-bar span.select2 .selection {
    display: block;
    width: 100%;
    height: 100%;
}

.filter-bar span.select2 .selection .select2-selection__rendered {
    margin-top: 12px;
    padding-left: 20px;
    color: #6E3EF7 !important;
}

.filter-bar span.select2 .selection .select2-selection--single {
    display: block;
    width: 100%;
    height: 4.2rem;
    border: 1px solid #6E3EF7 !important;
    border-radius: 5px;
    background: #FFFFFF;
}

.filter-bar span.select2 .selection .select2-selection--single .select2-selection__arrow b {
    margin-top: 10px;
    margin-left: -10px;
}

/*settings style*/

.settings {
    width: 672px;
    margin: 20px auto auto auto;
    padding: 30px;
}

.settings-title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
    color: #00000A;
}

.settings-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.25;
    color: #00000A;
}

.view-settings-wrapper {
    border: 1px solid #EDEDFB;
    border-radius: 5px;
}

/* view-switch settings */
.mode-switch #setting-switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mode-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 3rem;
    height: 1.6rem;
    background: #CCCCE1;
    display: block;
    border-radius: 4rem;
    position: relative;
}

.mode-switch label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s;
    transform: translateY(-50%);
}

.mode-switch #setting-switch:checked + label {
    background: #6E3EF7;
}

.mode-switch #setting-switch:checked + label:after {
    left: calc(100% - .2rem);
    transform: translateX(-100%) translateY(-50%);
}

.filter-bar .filter-mobile {
    width: 100%;
}

.position-add-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    z-index: 1111;
}

.middle-nav .homepage-nav {
    font-size: 0;
    display: inline-block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.middle-nav .homepage-nav li {
    display: inline-block;
}

.middle-nav .homepage-nav li a {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    color: #636373;
    height: 4rem;
    padding: 0 2.2rem;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #EDEDFB;
    background: #FFFFFF;
}

.middle-nav .homepage-nav li a.active {
    border-width: 1px 1px 1px 1px;
    border-color: #6E3EF7;
    background: #F7F5FC;
}

.middle-nav .homepage-nav li:last-child a {
    border-width: 1px 1px 1px 1px;
    border-radius: 0 6px 6px 0;
}

.middle-nav .homepage-nav li:first-child a {
    border-width: 1px 1px 1px 1px;
    border-radius: 6px 0 0 6px;
}

.cuisine-group .select2-container {
    padding: 0px;
}

.ck-editor__editable_inline {
    min-height: 150px;
}

div.ck ul {
    list-style: inside !important;
}

.ck-rounded-corners {
    width: 100% !important;
}

.h-17 {
    height: 17px;
}

.middle-nav .homepage-nav li a:hover,
.middle-nav .homepage-nav li a.active:hover {
    background: #6E3EF7;
    color: #FFFFFF;
    border-color: #6E3EF7;
}

.middle-nav .homepage-nav li a.active {
    border-width: 1px 1px 1px 1px;
    border-color: #6E3EF7;
    background: #F7F5FC;
}

.price-sz {
    width: 20px !important;
    height: 20px !important;
}

.bg-price {
    background: #848496;
}

.cuisine-group .select2, .category-group .select2 {
    padding: unset;
    border-radius: 6px;
    font-size: 1.4rem;
    color: #A5A5B9
}

.cuisine-group .select2-selection, .category-group .select2-selection {
    display: block;
    padding: 1px;
    height: 4rem;
    border: 1px solid #EDEDFB;
}

.cuisine-group .select2-selection .select2-selection__rendered, .category-group .select2-selection .select2-selection__rendered {
    margin-top: 8px;
    padding-left: 15px;
}

.cuisine-group .select2-container--default .select2-selection--single .select2-selection__arrow, .category-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px !important;
    right: 10px !important;
}

.cuisine-group .select2-container {
    padding: 0px;
}

.ck-editor__editable_inline {
    min-height: 150px;
}

div.ck ul {
    list-style: inside !important;
}

.card-load {
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

.review-card {
    height: 390px;
}


.h-17 {
    height: 17px;
}

.image-resizing {
    max-width: 200px;
    height: 210px;
}

.image-resizing a {
    display: inline-block;
}

.image-resizing a img {
    height: 200px;
}

.show-subcategory {
    text-transform: uppercase;
    color: #6E3EF7;
    font-weight: 500;
    font-size: 1.5rem;
}

.show-user-img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin-left: 8px;
}

.search-mobile {
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}

.search-mobile input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #EDEDFB;
    border-radius: 6px;
    padding: 1rem 1.2rem 1rem 4rem;
    box-sizing: border-box;
}

.search-mobile input:focus {
    border-color: #6E3EF7;
}

.search-mobile span {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
}

@keyframes loader3 {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }
}

.second-view-review-btn {
    display: inline-block;
    width: 7rem;
    height: 2.4rem;
    line-height: 2.2rem;
    background: #6E3EF7;
    border: 1px solid #6E3EF7;
    color: #F7F5FC;
    border-radius: 4px;
    text-align: center;
    margin-right: 4px;
    cursor: default;
    font-size: 1.4rem;
}

/*image gallery start*/
.modal-xl .ratio-16x9 {
    background-color: rgba(0,0,0,0.85) !important;
}

.modal-xl {
    margin: 0 auto;
    --bs-modal-width: 100% !important;
}
.modal-xl .modal-content {
    height: 100vh;
}

.modal-xl .modal-content .modal-body .lightbox-carousel {
    height: 100vh;
}

.modal-xl .modal-content .modal-body .lightbox-carousel .carousel-inner{
    height: 100vh;
}

.modal-xl .modal-content .modal-body .lightbox-carousel .carousel-inner .active .ratio-16x9{
    height: 100vh;
}

/*image gallery end*/

#shareModal .modal-body {
    background-color: unset;
}

#shareModal .modal-footer {
    background-color: #efefef;
    border-top: none;
    border-radius: 5px;
    padding: 3px;
    margin: 0px 24px 15px 24px;
}

#shareModal .modal-footer .link-field {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

#share .jssocials-shares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#share .jssocials-shares .jssocials-share {
    width: 48%;
    margin: 0.3em 0em 0.3em 0;
    border-radius: 6px;
}

#share .jssocials-shares .jssocials-share:hover {
    background-color: #6E3EF7;
}

#share .jssocials-shares .jssocials-share:hover .jssocials-share-label {
    color: white;
}

#share .jssocials-shares .jssocials-share .jssocials-share-link {
    width: 100%;
    background: unset;
    border: 1px solid #6E3EF7;
    color: unset;
    box-shadow: none;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
}

#share .jssocials-shares .jssocials-share .jssocials-share-label {
    color: #373737;
    font-size: 16px;
    font-weight: 500;
}

/*========================= groups style ===================*/

.group-card {
    overflow: hidden;
    position: relative;
}

.group-card .group-image {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.group-half-thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.group-quarter-thumbnail {
    width: 100%;
    height: 124px;
}

.three-image-thumbnail .col-8 img {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.three-image-thumbnail .col-4 .top img {
    border-top-right-radius: 6px;
}

.three-image-thumbnail .col-4 .bottom img {
    border-bottom-right-radius: 6px;
}

.group-link {
    display: inline-block;
}

.group-card .group-link h3 {
    font-size: 20px;
    font-weight: 500;
}

.group-card .group-link span.text {
    display: block;
    margin-top: -5px;
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

.group-pen-icon {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 10, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    bottom: 25%;
    right: 20px;
    opacity: 0.9;
}

.group-card:hover .group-pen-icon {
    display: flex;
}

.group-pen-icon:hover {
    display: block;
    cursor: pointer;
}

/*============================*/

.small-card-review {
    height: 160px;
    cursor: pointer;
}

.small-card-body {
    padding: 5px;
}

.small-review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-review-top .small-name {
    width: 8rem;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-rating {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.small-review-card {
    width: 4rem;
    font-size: 10px;
    height: 1.8rem;
    line-height: 1.8rem;
    margin-right: 0px;
}

.small-review-state {
    font-size: 10px;
}

.small-review-cuisine {
    font-size: 10px;
    height: 1.8rem;
    line-height: 1.8rem;
    padding: 0px 5px;
    text-align: center;
}

.review-card-select {
    border: 2px solid blue;
}

.input-height {
height: 3.5rem;
}

.modal-cancel{
    font-size: 1.4rem;
    color: gray !important;
    background: #FFFFFF;
    border-color: gray !important;
    padding: 1rem 2.4rem;
}
.modal-cancel:hover{
    color: #FFFFFF !important;
    background: gray !important;
}

.show-dot{
    position: absolute;
    font-size: 35px;
    font-weight: 900;
    bottom: -2px;
}