.form-control:focus {
    color: #00000A;
    background-color: #fff;
}

.sticky-top #sessionDropdown .name {
    font-size: 1.4rem;
    color: #636373;
}

.tabs_content_wrap .tags .tag-badge {
    width: fit-content;
    border: 1px solid #6E3EF7;
    border-radius: 10px;
    padding: 4px 10px;
    background: #F7F5FC;
}

.tabs_content_wrap .tags .fa.fa-remove {
    color: #6E3EF7;
    cursor: pointer;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.rating .radio-button {
    margin-right: 5px;
    position: relative;
}

.rating input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    color: blue;
    border: 0.5px solid #CCCCE1;
    border-radius: 50%;
    height: 35px;
    width: 30px;
    cursor: pointer;
}

.rating input[type="radio"]::before {
    content: "$";
    color: #CCCCE1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -4px
}

.rating input[type="radio"]:checked {
    border-color: #0d6efd;
    background-color: #0d6efd;
}

.rating input[type="radio"]:checked::before {
    color: white;
}

.file-upload-place .upload-link button {
    background: transparent;
    font-weight: 600;
    border: none;
    color: #6E3EF7;
}

.photos-jpg-text{
    color: #636373;
}

.uploaded-files .main-thumbnail {
    border-radius: 6px;
    max-height: 450px;
    overflow: hidden;
}

#js-thumbnails .upload-button {
    height: 70px;
    width: 15%;
}

.thumbnail-wrap {
    position: relative;
    width: 15%;
    margin-right: 3px;
}

.uploaded-files .thumbnail {
    width: 100%;
    max-height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

.delete-icon  {
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
}


img.small-thumb:hover + .delete-icon {
    display: block;
}

.delete-icon:hover {
    display: block;
    cursor: pointer;
}

.meal-modal .img-wrapper {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px dashed grey;
    background: darkgrey;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.uploaded-files .upload-button {
    border: 0.5px dashed;
}

.modal-container {
    max-width: 650px;
}

.modal-container .modal-content {
    border-radius: 16px;
}

.modal-container .modal-content .modal-header {
    padding: 20px 24px 20px 24px;
}

.modal-container .modal-footer {
    padding: 15px 24px 15px 24px;
}

.modal-container .modal-footer button {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
}

.modal-body {
    padding: 20px 24px 20px 24px;
    background-color: rgba(0, 0, 0, 0.08);
}

.modal-body .input-field {
    height: 40px;
}

.modal-body .image-container {
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px dashed #A5A5B9;
    background-color: #FBFBFE;
    display: flex;
    align-items: center;
}

.modal-body .image-container .thumbnail {
    border: none;
    color: #0d6efd;
    font-size: 14px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: transparent;
}

.modal-body .image-container .thumbnail:hover {
    color: darkblue;
    transition: 0.2s;
}

#meal-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto auto;
    position: relative;
    z-index: 100;
    max-height: 348px;
}

.share_btn {
    display: inline-block;
    width: 2.8rem;
    height: 2.4rem;
    background: #F7F5FC;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    line-height: 2rem;
}

.bg-blue {
    background-color: #0d6efd !important;
}