@import "owl-carousel.min.css";
@import "bootstrap.css";
@import "bootstrap.min.css";
@import "helper.css";
@import "nice-select.css";
@import "responsive.css";
@import "simplebar.css";
@import "style.css";


.form-control:focus {
    color: #00000A;
    background-color: #fff;
    border: 1px;
    border-color: #6E3EF7;
    outline: 0.5px solid #6E3EF7;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.sticky-top #sessionDropdown .name {
    font-size: 1.4rem;
    color: #636373;
}

.tabs_content_wrap .tags .tag-badge {
    width: fit-content;
    border: 1px solid;
    border-radius: 10px;
    padding: 4px 10px;
    border-color: #6E3EF7;
    background: #F7F5FC;
}

.tabs_content_wrap .tags .fa.fa-remove {
    color: #6E3EF7;
    cursor: pointer;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

/*.radio-button::after {*/
/*    content: "$";*/
/*}*/
