<div class="content_area">
  <div class="content_wrap pb_100">
    <div class="container mt_30">
      <div class="tab-content">
        <!--All grid card here -->
        <div class="tab-pane fade show active" id="gridLayout" role="tabpanel" aria-labelledby="gridLayout-tab">
          <div class="row g-5">
            <%= render partial: 'new_homepage/grid_single_review_card', collection: reviews, as: :review %>
          </div>
        </div>
        <!--All list card here -->
        <div class="tab-pane fade" id="listLayout" role="tabpanel" aria-labelledby="listLayout-tab">
          <div class="row g-5">
            <%= render partial: 'shared/list_review_card', collection: reviews, as: :review %>
          </div>
        </div>
      </div>
    </div>
    <div class="pagy my-5 d-flex justify-content-center">
      <%== pagy_bootstrap_nav(pagy) %>
    </div>
  </div>
</div>