<div class="content_area">
  <div class="content_wrap pb_100">
    <div class="container mt_30">
      <div class="tab-content">
        <!--All grid card here -->
        <div class="tab-pane fade show active" id="gridLayout" role="tabpanel" aria-labelledby="gridLayout-tab">
          <div class="row g-5" id="groups-reviews">
            <%= render partial: 'new_homepage/grid_single_review_card', collection: reviews, as: :review %>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5 d-flex justify-content-center" id="next_link">
      <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next), class: "btn btn-primary" %>
    </div>
  </div>
</div>