<div class="content_area">
  <div class="content_wrap">
    <div data-controller="map-view" class="container">
      <div class="tab-content" id="layoutTabContent">
        <!--All grid card here -->
        <div class="tab-pane fade show active" id="gridLayout" role="tabpanel" aria-labelledby="gridLayout-tab">
          <div class="row justify-content-center">
            <div data-map-view-target="allReviews" class="col-lg-12 row g-5" id="home-groups-reviews">
              <%= render partial: 'new_homepage/grid_single_review_card', collection: reviews, as: :review %>
            </div>
            <div data-map-view-target="mapView" data-controller="reviews-map" class="d-none review-map row g-5 col-lg-6">
              <div id="reviewMap" data-reviews-map-target="mapDisplay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5 d-flex justify-content-center" id="home_next_link">
      <% if pagy.next.present? %>
        <%= link_to "Load More", pagy_url_for(pagy, pagy.next), id: 'loadMoreButton', 'data-turbo-stream': "true", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>