<h2>Category</h2>
<div class="category_content_wrap">
  <div data-controller="category" class="form_group row align-items-center">
    <label for="search" class="col-lg-5">Category</label>
        <%= f.select :category, ["Restaurant", "Games", "Books", "Movies"], { :selected => params[:category]}, { :class => 'col-lg-7', data: {"action": "click->category#categorySelect", "category-target": "category" }} %>
  </div>
</div>