<div class="content_area">
  <div class="position-relative content_wrap pb_35">
    <div data-controller="map-view" class="container">
      <div class="tab-content" id="layoutTabContent">
        <!--All grid card here -->
        <div class="tab-pane fade show active" id="gridLayout" role="tabpanel" aria-labelledby="gridLayout-tab">
          <div class="row">
            <div data-map-view-target="allReviews" class="position-relative col-lg-12 g-5 d-flex flex-wrap" id="groups-reviews">
              <%= render partial: 'reviews/grid_review_card', collection: reviews, as: :review %>
            </div>
            <div data-map-view-target="mapView" data-controller="reviews-map" class="d-none review-map row g-5 col-lg-6">
              <div id="reviewMap" data-reviews-map-target="mapDisplay"></div>
            </div>
          </div>
        </div>
        <!--All list card here -->
        <div class="tab-pane fade" id="listLayout" role="tabpanel" aria-labelledby="listLayout-tab">
          <div class="row">
            <div data-map-view-target="allReviews" class="col-lg-12 g-5">
              <%= render partial: 'shared/list_review_card', collection: reviews, as: :review %>
            </div>
            <div data-map-view-target="mapView" data-controller="reviews-map" class="d-none review-map g-5 col-lg-6">
              <div id="reviewMap" data-reviews-map-target="mapDisplay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5 d-flex justify-content-center" id="next_link">
      <% if pagy.next.present? %>
        <%= link_to "Load More", pagy_url_for(pagy, pagy.next), id: 'loadMoreButton', 'data-turbo-stream': "true", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>