<h2>Tags</h2>
<div class="tabs_content_wrap" data-controller="tags">
  <div class="tags_search_form">
    <%= f.text_field :tags, class: 'd-none', 'data-tags-target': "selectedTags" %>
    <input type="text" data-tags-target="tagInput" data-action="keyup->tags#makeTag" placeholder="Search Tags...">
    <span><%= image_tag("template/search.svg") %></span>
  </div>
  <div class="tags d-flex flex-wrap" data-tags-target="tags">
    <% if f.object.persisted? && f.object.tags? %>
      <% f.object.tags.split(",")[1..].each do |tag| %>
        <div class="tag-badge d-flex align-items-center mt-4 mr-2">
          <span><%= tag %></span><i class="fa fa-remove ml_10 mt-1" id="remove1" data-action="click->tags#removeTag"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>