<main class="overflow-hidden">
  <%= render "filter_navbar", reviews: @reviews, cuisines: @cuisines, tags: @tags %>
  <%= render "review_cards", reviews: @reviews, pagy: @pagy %>
  <!-- add Button -->

  <%= link_to new_review_path( category_id: params[:category_id] != 'all' ? params[:category_id] : nil), class: 'addNew' do %>
    <%= image_tag("template/plus.svg") %><span>Add New</span>
  <% end %>
</main>
