<%#= form_with do%>
<%# end %>
<div class="m-auto mt-5 edit-card">
  <ul class="w-100 list-group-flush">
    <li class="list-group-item">
      <div class="d-flex mt-5">
        <%= image_tag("template/avatar1.png", class: 'avatar  rounded-circle') %>
        <button class="ml-14 btn-profile-pic"><%= image_tag("template/upload.png") %>Upload New Picture</button>
        <button class="ml-24 btn-profile-pic"><%= image_tag("template/icon9.png") %>Delete Picture</button>
        <hr class="mt-55">
      </div>
    </li>
    <li class="list-group-item">
      <div>Details</div>
      <div>Username <%= current_user.first_name.titleize %></div>
      <hr>
    </li>
    <li class="list-group-item">
      <div>Password</div>
      <div>Old password</div>
      <div>New password</div>
    </li>
    <li class="list-group-item">
      <div>Account</div>
      <div>Delete Account
        <button class="form-control">Delete Account</button>
      </div>
      <hr>
    </li>
    <li class="list-group-item">
      <button class="form-control">Save Changes</button>
    </li>
  </ul>
</div>